<%= link_to 'Back to Foods', food_index_path, :class => 'ui-back'%>

<%= form_for @food, url: food_index_path, :html => {:id => 'pg-new-food-form'} do |f| %>
  <header class="header">
    <h1 class="pg-title">New Food</h1>
  </header>

  <div class="content">
    <section class="field">
      <%= f.label :name %>

      <div class="ui-input-wrapper">
        <%= f.text_field :name, :class => 'ui-input', :placeholder => 'e.g. pickle, cookie, chicken carbonara...' %><br />
      </div>
    </section>

    <section class="field">
      <%= f.label :traits %>
      <ul id="traits" class="ui-tags">
      </ul>
    </section>
  </div>

  <footer class="footer">
    <%= f.submit %>
  </footer>
<% end %>

<script type="text/javascript">
  window.traits = <%= Trait.all.map(&:name).to_json.html_safe %>
</script>
