<!DOCTYPE html>
<html>
<head>
  <title>FoodGenome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <header id="g-capital">
    <div class="l">
      <%= link_to app_name, root_path,  :class => 'logo' %>

      <ul class="nav">
        <% if current_user %>

          <li><%= current_user.name %></li>
          <li><%= link_to 'Sign Out', logout_path %></li>

        <% else %>

          <li><%= link_to 'Sign In', login_path %></li>

        <% end %>
      </ul>
    </div>
  </header>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: [ :flash, key ].join(' ') %>
<% end %>

<%= yield %>

</body>
</html>
