<!DOCTYPE html>
<html>
<head>
  <title>FoodGenome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

  <header id="g-capital">
    <%= link_to app_name, root_path,  :class => 'logo' %>

    <ul class="nav">
      <li><%= link_to 'New Food', new_food_path %></li>

      <% if current_user %>

        <li>
          <a class="js-toggle toggle"><%= current_user.name %></a>

          <ul class="js-dropdown dropdown">
            <li><%= link_to 'Sign Out', logout_path %></li>
          </ul>
        </li>

      <% else %>

        <li><%= link_to 'Sign In', login_path %></li>

      <% end %>
    </ul>
  </header>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: [ :flash, key ].join(' ') %>
<% end %>

<%= yield %>

</body>
</html>
