<!DOCTYPE html>
<html>
<head>
  <title>FoodGenome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="g-capital">
    <div class="l">
      <ul id="g-user-nav">
        <% if current_user %>

          <li><%= current_user.name %></li>
          <li><%= link_to 'Sign Out', logout_path %></li>

        <% else %>

          <li><%= link_to login_path 'Sign In' %></li>

        <% end %>
      </ul>
    </div>
  </header>

<%= render 'layouts/header' %>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: [ :flash, key ].join(' ') %>
<% end %>

<%= yield %>

</body>
</html>
